html,
body {
  background-color: #f3f4f6;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #374151;
}

body #main-content {
  max-width: 1280px;

  margin-inline: auto;
  padding: 1rem;
}

section {
  padding-inline: 0.8rem;

  background-color: white;
  border-radius: 0.9rem;
  list-style: 1.6;
}

#upper-part {
  display: flex;
  gap: 0.5rem;
}

#upper-part #about-me {
  width: 80%;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.8rem;

  text-align: justify;
}

#upper-part #about-me .profile-image {
  flex-shrink: 0;

  width: 120px;
  height: 100%;

  background-image: url("../images/portrait_photo.JPG");
  background-size: cover;

  border-radius: 0.9rem;
}

#about-me h1 {
  margin-bottom: 1rem;

  font-size: 4rem;
  font-weight: 500;
}

#contact {
  width: 20%;

  padding: 0.8rem;
}

#contact h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

#contact .media-list {
  margin-top: 1rem;
}

#contact a {
  display: block;
  color: #374151;
}

#contact a:not(:last-child) {
  margin-bottom: 0.9rem;
}

#projects {
  padding: 0.8rem;

  margin-top: 0.5rem;
}

#projects h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

div[role="tablist"] {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

button[role="tab"] {
  color: #374151;
  background-color: #f3f4f6;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  font-weight: 700;
}

button[role="tab"][aria-selected="true"] {
  background-color: #6366f1;
  color: white;
}

button[role="tab"][aria-selected="false"]:hover {
  background-color: #d1d5db;
}

div[role="tabpanel"] {
  padding: 1rem;
}

#tab-panel-1 > div,
#tab-panel-2 > div {
  display: flex;
  gap: 1rem;
}

#tab-panel-1 h2,
#tab-panel-2 h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.project-1-img img,
.project-2-img img {
  max-width: 500px;
  border-radius: 1rem;
}

.project-1-description,
.project-2-description {
  text-align: justify;
}

.project-1-description a,
.project-2-description a {
  display: inline-block;
  padding: 0.7rem;

  font-weight: 500;
  font-size: 0.8rem;
  color: #374151;

  border-radius: 0.8rem;
  background-color: #f3f4f6;
}

.project-1-description a:hover,
.project-2-description a:hover {
  color: white;

  background-color: #6366f1;
}

.project-1-title,
.project-2-title {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin-bottom: 1rem;
}

#skill-section {
  margin-top: 0.5rem;

  padding: 0.8rem;
}

#skill-section h3 {
  margin-bottom: 1rem;

  font-size: 2rem;
  font-weight: 500;
}

.skill-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;

  font-weight: 500;
}

.skill-cards > div {
  padding: 0.8rem;

  background-color: #f3f4f6;
  border-radius: 0.8rem;
}

@media (max-width: 600px) {
  #upper-part,
  #upper-part #about-me {
    flex-wrap: wrap;
    justify-content: center;
  }

  #upper-part #about-me {
    width: 100%;
  }

  #upper-part #about-me .profile-image {
    height: 130px;
  }

  #contact {
    width: 100%;
  }

  #tab-panel-1 > div,
  #tab-panel-2 > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-1-img img,
  .project-2-img img {
    max-width: 400px;
  }
}